.fullStep{
  .contentFullStep{
    .cardFullStep{
      .CardImgLogo{
        width: 65px;
        margin-bottom: 24px;
        &:hover{
            cursor: pointer;
            opacity: 0.7;
        }
      }
      .formStep{
        .formGroupStep{
          .inputGroupDishPrice{
            margin-bottom: 24px;
            padding: 6px 16px;
            background: #F7F7F7;
            border-radius: 6px;
            .textUSD{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
              color: #636A82;
              padding: 0px;
              border: none;
              background: #F7F7F7;
              margin-right: 16px;
            }
            .formDishPrice{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
              color: #636A82;
              border: none;
              background: #F7F7F7;
              box-shadow: 0 0 0 1px #F7F7F7;
            }
          }
          .formDescription{
            height: 88px;
          }
        }
        .groupCheck{
          margin-bottom: 24px;
          .checkVegan{
            margin-right: 32px;
            .form-check-label{
              font-family: 'Inter';
              font-style: normal;
              font-weight: 500;
              font-size: 14px;
              line-height: 150%;
              color: #1A2649;
            }
          }
        }
        .done{
          padding: 12px 170px;
          background: #F96F37;
          border-radius: 6px;
          border: #F96F37;
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 24px;
          text-transform: uppercase;
          color: #FFFFFF;
        }
      }
    }
  }
}

@media (max-width: 500px){
  .fullStep{
    .contentFullStep{
      .cardFullStep{
        .formStep{
          .done{
            padding: 12px 140px;
            font-size: 14px;
          }
        }
      }
    }
  }
}
@media (max-width: 400px){
  .fullStep{
    .contentFullStep{
      .cardFullStep{
        .formStep{
          .done{
            padding: 12px 125px;
            font-size: 14px;
          }
        }
      }
    }
  }
}